%div.span-22
  %h3.clear Shift Switch Policy
  %p
    This is the Shift Switch, which has been created by the Scheduling Team to facilitate easy shift swaps among employees. The Shift Switch requires you to use your Apple email address.
  %p
    To submit a shift for another employee to take, please click on the Give a Shift button. To view available shifts and to take a shift, use the appropriate buttons to the right of the listed shift.
  %p
    Once a shift is taken, the person who posted the shift, the person taking the shift and NMA Schedule are emailed a notification. If you do not receive an email notification, please resubmit taking the shift, as the request did not fully process.
  %ol
    %h6 As a reminder, there are a few guidelines for switching shifts:
    %li Please double check you are not already working on the day you take a shift.
    %li Employees cannot work more than 8 total hours on a given day, even with split shifts. Also employees cannot work over 40 hours a week (Saturday-Friday).
    %li Shift switches must occur between employees in the same department (ICS/ICS, Red Zone/Red Zone, Genius/Genius etc.)
    %li If you are a Full Time employee giving up a shift, please notify NMA Schedule separately if you would like vacation or sick pay for that day.
    %li Family Room shifts involve an extra level of review to accommodate staffing, so a Family Room switch is not approved until you receive an email specifically approving it.
    %li FRSs may switch with other FRSs or Creatives and vice-versa.  Special attention needs to be paid when switching any shifts that may contain Personal Training sessions due to to trainer knowledge.
    %li Geniuses may only switch with other Geniuses.
    %li No switches with any team members outside of the Family Room.  This means no Specialists are able to take FR shifts. 
    %li The Shift Switch App has now switched #{Shift.count} shifts!!

  %p.span-22
    = link_to 'Give a New Shift', new_shift_path, :class => "button white"


